@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

body {
    font-family: "Finger Paint", sans-serif;
    background-image: url('blackboard.jpg');
    background-size: 100%;
    background-color: #1b1b1b;
    color: rgb(250, 235, 215);
    padding-bottom: 5rem;
}

::webkit-scrollbar {
    width: 5px;
  }
  
::webkit-scrollbar-thumb {
background-color: #1b1b1b;
}
  
::webkit-scrollbar-track {
background-color: rgba(250, 235, 215, 0.80);
}

::webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

* {
scrollbar-width: thin;
scrollbar-color: #1b1b1b rgba(250, 235, 215, 0.80);
}

*::-moz-scrollbar-thumb:hover {
background-color: #1b1b1b;
}

ul.activites {
  padding-top: 10px;
  padding-left: 2rem;
  list-style: none;
}

ul.activites li {
  padding-left: 2rem;
  background-image: url(noun-circle-91815.svg);
  color: white;
  background-position: 0 5px;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-top: 5px;
}

div.accordion-body p {
  padding: 5px;
  color: white;
}

h2.accordion-header{
  background: transparent;
  button.accordion-button{
    background: transparent;
    color: white;
    height: 75px;
  }
  h4.henry{
    padding-right: 3rem;
  }
  h4.bbm{
    padding-right: 1.8rem;
  }
}

div.accordion-item{
  background: transparent;
}

nav.navbar navbar-expand-lg bg-transparent fixed-top p-4 ml-auto{
  width: fit-content;
  margin-left: auto;  
}